
/*  フォントの設定 */

@font-face {
    font-family: 'MyFont'; 
    src: url('../fonts/font.otf') format('otf'); 
    font-display: swap; 
}



body {
    font-family: 'MyCustomFont', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
    font-family: "myfont",sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px;
    text-align: center;
    /* background-color: #ffffff; */
}

.container p{
    display: block;
    line-height: 1.3;
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0px 8px 9px #778be6, 0px -2px 1px #e3eafd;
}

